h1{
    color:white;
    display: inline-block;
    width:45%;
    font-size: 200%;
    margin:2%;
    text-align-last:left ;
    font-variant-caps:all-small-caps;
    font-family: 'Courier New', Courier, monospace;
}
h1:hover{
    Color:green;
    transition-duration: 5s;
}
a{  
    color:#0000ff;
    text-decoration: solid;
    font-style: oblique ;
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin: 2%;
    color:wheat;
    background-image:url("/images/background3.jpg");
    background-repeat: repeat;
}
h2{
    /*background: -webkit-gradient(linear, left top, left bottom, from( #6495ed), to( rgb(34, 33, 33)));
    background: -webkit-linear-gradient( #6495ed,rgb(34, 33, 33));
    background: -moz-linear-gradient(top,  #6495ed, rgb(34, 33, 33));
    background: -ms-linear-gradient( #6495ed,rgb(34, 33, 33));
    background: -o-linear-gradient( #6495ed, rgb(34, 33, 33));
    background: linear-gradient( #6495ed, rgb(34, 33, 33));*/
    border-radius: 15px;
    color:white;
    text-align: center;
    font-variant-caps: all-small-caps;
    background-image:url("/images/background.jpg");
    font-family: 'Courier New', Courier, monospace;
}
h2:hover{
    color: chartreuse;
    transition-duration: 2s;

    
}
section{
    
    width: 47%;
    display: block;
    margin:1%;
    color:white;
    float: left;
    font-family: 'Courier New', Courier, monospace;
}
.full{
    clear: both;
    width:98%;
}
header{
    
    color:white;
    padding:0px;
    /*background: -webkit-gradient(linear, left top, left bottom, from( #6495ed), to( rgb(34, 33, 33)));
    background: -webkit-linear-gradient( #6495ed,rgb(34, 33, 33));
    background: -moz-linear-gradient(top,  #6495ed, rgb(34, 33, 33));
    background: -ms-linear-gradient( #6495ed,rgb(34, 33, 33));
    background: -o-linear-gradient( #6495ed, rgb(34, 33, 33));
    background: linear-gradient( #6495ed, rgb(34, 33, 33));
    border-radius: 15px;*/
    background-image:url("/images/background1.jpg");

}
nav{
    
    color:white;
    
    text-align: right;
    width:45%;
    display: inline-block;

}
nav a:hover{
    font-size: 200%;
    transition-duration: 2s;

}
nav a{
    padding:1%;
    font-size: 100%;
    color:white;
}
footer{
    
    color:white;
    clear: both;
    padding-left: 25px;
    font-family: 'Courier New', Courier, monospace;

}